html, body {
	margin: 0;
	padding: 0;
	background: #3D352A;
}

header {
	margin: 0 auto;
	color: #fff;
}

nav {
	background-color: #000;
	text-align: center;
	color: #fff;
}

nav ul {
	padding-top: 10;
	padding-bottom: 10;
}

nav li {
	display: inline;
	list-style-type: none;
	padding-right: 20;
	font-size: 25px;
}

form {
	color: #000;
}

.container {
	width: 940px;
}

#content {
	height: 600px;
	background-color: #aaa;
}

footer {
	height: 100px;
	background-color: #000;
}