<html>
	<head>
		<title>My Site</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="static/css/bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/static/css/style.css"/>
		
		<script type="text/javascript" src="static/js/jquery-2.1.4.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type=text/javascript>
 			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    	</script>
  	</head>
	<body>
		<header>
			<div class="container">
	  		<h1>Header heading</h1>
	  		</div>
		</header>
		<nav>
			<ul>
		  		<li><a href="/home">Home</a></li>
		  		<li><a href="/settings">Settings</a></li>
		  		<li><a href="/about">About</a></li>
	  		</ul>
	  	</nav>
		<section id="content">
			{% block content %}{% endblock %}
		</section>
		<footer>
			<div class="container">
				<p>Paragraph for footer</p>
			</div>
		</footer>
	</body>
</html>