<html>
	<head>
		<title>My Site</title>

		<script type="text/javascript" href="{{url_for('static', filename='jquery-2.1.4.js')}}"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="/static/js/main.js" type="text/javascript"></script>

		<link rel="stylesheet" href="static/css/bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/static/css/style.css"/>

  	</head>
	<body>
		<header>
	  		<h1>Header heading</h1>
		</header>
		<nav>
			<ul>
		  		<li><a href="/home">Home</a></li>
		  		<li><a href="/settings">Settings</a></li>
	  		</ul>
	  	</nav>
		<section id="content">
			{% block content %}{% endblock %}
		</section>
		<div id="footer">
			<div class="container">
				<p>Paragraph for footer</p>
			</div>
		</div>
	</body>
</html>